* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Coolvetica;
    font-size: 20px;
    color: #eee;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    background-color: #000;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
    background-color: #222;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--green);
    margin: 0 0 12px 0;
    padding: 0 0 4px 0;
    border-bottom: solid 2px var(--green);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
    font-weight: bold;
}

h5 {
    font-size: 1.125em;
    font-weight: bold;
}

p {
    margin: 0 0 16px 0;
}

hr {
    margin: 0 0 16px 0;
    border: none;
    border-top: solid 2px #eee;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 0 16px 0;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.container {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.label {
    text-align: right;
}

.nav {
    display: flex;
    flex-direction: column;
    border-right: solid 1px #000;
    background-color: #111;
}

.nav .link {
    padding: 16px;
}

.nav .link svg {
    width: 24px;
    height: 24px;
    color: #ccc;
}

.nav .link:hover {
    background-color: #222;
    cursor: pointer;
}

.nav .link:hover svg {
    color: #fff;
}

.panel {
    position: absolute;
    top: 0px;
    left: 56px;
    width: 25%;
    max-width: 512px;
    height: 100%;

    display: none;
    flex-direction: column;
    padding: 16px;

    background-color: #222;
    border-right: solid 1px #000;
    cursor: default;
}

.game {
    display: flex;
    flex: 1;
}

.info {
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    padding: 16px;
    min-width: 256px;
    border-left: solid 1px #000;
    background-color: #111;
    color: #eee;
}

/* FONTS */
@font-face {
    font-family: Coolvetica;
    src: url("/font/coolvetica_cond.otf");
}