button {
    padding: 8px;
    margin: 0 0 16px 0;
    width: 100%;

    background: var(--green);
    border: none;
    border-radius: 8px;

    user-select: none;
}

button:hover {
    filter: brightness(110%);
    cursor: pointer;
}

button:active {
    filter: brightness(90%);
}

label {
    display: flex;
    flex-basis: 100%;
}

input {
    width: 100%;
    padding: 4px;
    border: solid 1px var(--green);
    background-color: #eee;
    border-radius: 8px;
    color: #222;
}

input:focus {
    outline: solid 2px var(--dark-green);
}

@media (max-width: 786px) {
    
}
